body {
  background-color: navy;
  font-family: "Viaoda Libre", serif;
}

a {
  color: navy;
}

h1 {
  color: navy;
}
header {
  padding: 0 0 20px;
}

.application-content {
  background-color: cornsilk;
  max-width: 600px;
  margin: 30px auto;
  box-shadow: 0 30px 50px rgba(240, 248, 255 0.08);
  border-radius: 10px;
  padding: 30px;
}
.search-input {
  background-color: white;
  border: none;
  border-radius: 10px;
  width: 80%;
  font-size: 14px;
  padding: 15px 20px;
}
.search-button {
  background-color: navy;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  padding: 15px 20px;
  color: white;
  margin-left: 5px;
}

.application-data {
  display: flex;
  justify-content: space-between;
}

main {
  padding: 20px 0 0 0;
}

.temperature-container {
  display: flex;
}

.temperature-icon {
  font-size: 50px;
  margin-top: 10px;
  margin-left: 10px;
}
.temperature-current {
  font-weight: bold;
  font-size: 80px;
}
.temperature-unit {
  margin-top: 20px;
  font-size: 25px;
  margin-right: 20px;
}

.current-city {
  margin: 0;
  font-size: 40px;
  line-height: 45px;
}
.current-weather-details {
  font-size: 20px;
  color: navy;
  line-height: 30px;
}

.current-weather-details strong {
  color: crimson;
}

.weather-forecast {
  display: flex;
  max-width: 550px;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  margin-top: 20px;
  padding-left: 10px;
}

.forecast-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.temperature-forecast-day {
  text-align: center;
  color: navy;
  font-size: 20px;
  line-height: 15px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.temperature-forecast-icon img {
  width: 50px;
  height: 50px;
}
.temperature-forecast-icon {
  text-align: center;
}

.temperature-forecast-temperatures {
  text-align: center;
  font-size: 16px;
  color: crimson;
  display: flex;
  justify-content: center;
}

.temperature-forecast-temperature {
  padding: 5px;
}

.temperature-range {
  font-size: 15px;
  color: navy;
}

footer {
  padding: 30px 0 0 0;
  text-align: center;
  font-size: 12px;
}
